$mobiles: 320px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-sm: 950px;
$tablets-max: 1024px;
$desktops: 1200px;
$desktops-sm: 1400px;
$desktops-md: 1620px;
$desktops-lg: 1800px;
$desktops-xl: 2300px;
// $container: 1720px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$transition: 0.3s all;

$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #ffdd00;

$violet-light: #272239;


$transition-settings: 0.3s all;
