// Default

$color-default-black: #000;
$color-default-white: #fff;
$color-transparent: rgba(0, 0, 0, 0);

/* general */
$mobiles: 320px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-max: 1023px;
$desktops: 1024px;
// $container: 1200px;
$container: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$transition-settings: 0.3s all;

// Base

$color-black: #111;
$color-light-black: #222;
$color-middle-gray: #72717b;
$color-form-gray: #ededed;
$color-gray: #c1c1c1;

$color-light-gray: #cfcfcf;
$color-white: #fff;
$color-gold: #f69a57;
$color-light-brown: #f7e5be;
$color-red: #de3c3c;
$color-dark-red: #9d1915;
$color-hover-red: #d83c38;
$color-active-red: #b7312d;

$font-light-gray: #cbcccc;
$font-base-color: $color-black;
$background-base-color: $color-default-white;
$color-placeholder: #1a1725;

// $container: 1720px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$transition: 0.3s all;

$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #ffdd00;

$violet-light: #272239;

$transition-settings: 0.3s all;
