.button {
  display: flex;
  font-family: 'TT Norms Pro', sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;

  cursor: pointer;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 20px;

  outline: none !important;
  border: none;
  transition: $transition-settings;
  flex-shrink: 0;
  background: none;

  &:hover {
    cursor: pointer;
  }

  &--subscribe {
    width: 22%;
    background-color: #b383ff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border-radius: 0;
    height: 100%;
    min-width: 105px;
    transition: $transition-settings;
    color: #1a1725;

    &:hover {
      background-color: #df2183;
      color: $color-default-white;
    }
  }

  &--interval {
    position: relative;
    width: fit-content;
    padding: 8px;
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    outline: none;
    transition: $transition-settings;
    margin-right: 15px;
    font-weight: 500;
    color: rgb(4, 25, 65);
  }

  &--active {
    background-color: rgb(255, 255, 255);
    font-weight: 500;
  }

  &--error {
    margin-left: 17%;

    @media (max-width: 1200px) {
      margin-left: 8%;
    }

    @media (max-width: $mobiles-max) {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }

  &--toggle {
    width: 42px;
    position: absolute;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-settings;
    right: 30px;
    top: 22px;
    padding: 0;
    z-index: 500;
    background-color: #df2183;
    background-position: center left;
    border: 1px solid white;

    @media (max-width: $mobiles-max) {
      top: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: $color-default-white;
      transform: rotate(45deg);
      transition: $transition-settings;
    }

    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: $color-default-white;
      transform: rotate(-45deg);
      transition: $transition-settings;
    }

    &.close {
      &:before {
        visibility: hidden;
        opacity: 0;
      }

      &:after {
        visibility: hidden;
        opacity: 0;
      }
    }

    @media (min-width: $tablets-max) {
      display: none;
    }

    @media (max-width: $tablets-max) {
      display: flex;
    }
  }
}
