.footer {
  margin-top: 108px;
  margin-bottom: 45px;
  min-height: 95px;

  &--error {
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    background-color: #5a5471;
    width: 100%;
    height: 1px;
    right: 0;
    top: -47px;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
  }
}

.footer__copyrights {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  width: 23%;
  margin-right: 6.5%;

  color: #5a5471;

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
}

.footer__socials {
  display: flex;
  width: 22%;
  justify-content: space-between;
  margin-top: 8px;

  @media (max-width: $mobiles-max) {
    margin-top: 30px;
  }
}

.footer__social {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  border: 1px solid #5a5471;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transition: $transition-settings;
    fill: #5a5471;
  }

  &:hover svg {
    fill: #df2183;
    transform: scale(1.1);
  }

  @media (max-width: $mobiles-max) {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  svg {
    display: block;
  }
}

.footer__privacy {
  display: flex;
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    text-decoration-line: underline;
    transition: $transition-settings;
    color: #b383ff;
    display: block;

    &:first-of-type {
      margin-right: 40px;
    }

    &:hover {
      color: #bab3d6;
    }
  }

  @media (max-width: $tablets-max) {
    flex-direction: column;
  }
}

.footer__subscribe {
  display: flex;
  width: 41.5%;
  margin-right: 7%;
  align-items: center;
  height: 34px;
  margin-top: 8px;
  position: relative;

  @media (max-width: $mobiles-max) {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
}

.footer__subscribe-email {
  background: #5a5471;
  color: #1a1725 !important;
  width: 78%;
  height: 100%;
  border: none;
  padding: 16px 14px;

  &:active,
  &:focus {
    background: #5a5471;
  }
}

[placeholder] {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1a1725 !important;
}

.footer__subscribe-error {
  position: absolute;
  left: 0px;
  top: -25px;
  color: $color-red;
  font-size: 14px;
}

.footer__subscribe-success {
  position: absolute;
  left: 0px;
  top: -25px;
  color: #df2183;
  font-size: 14px;
}
