.header {
  width: 100%;
  background-color: $violet-light;

  overflow: hidden;

  &--error {
    transition: $transition-settings;
    @media (max-width: 1200px) {
      min-height: 370px;
    }

    @media (max-width: 600px) {
      background-size: cover;
    }
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  min-height: 38px;

  @media (max-width: $mobiles-max) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.header__logo {
  width: 132px;
  display: block;
  height: 32px;

  @media (max-width: $mobiles-max) {
    width: 100px;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.header__burger.close {
  transition: $transition-settings;
  visibility: hidden;
  opacity: 0;
}
