.nav {
  width: 34.5%;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  transition: $transition-settings;

  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: 0;

  @media (max-width: $mobiles-max) {
    position: fixed;
    top: 0;
    background-color: $color-black;
    top: 0px;
    width: 75%;
    padding-top: 61px;
    z-index: 10;
    padding-bottom: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0;

    align-items: center;

    overflow-y: auto;
    right: 0;
  }
}

.nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #5a5471;
  transition: $transition-settings;
  position: relative;

  @media (max-width: $tablets-max) {
    margin-bottom: 20px;
  }

  &:hover {
    color: #BAB3D6;
    &::before {
      position: absolute;
      transition: $transition-settings;
      content: '';
      background-color: #FF4667;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
    }
  }
}

.nav__item--active {
  color: $color-yellow;
}
