.news {
  overflow: hidden;
  .swiper-container {
    overflow: visible !important;
  }
}

.news__items {
  display: flex;
  flex-wrap: wrap;
}

.news__item {
  width: 23.5%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  min-height: 505px;
  margin-bottom: 30px;

  justify-content: space-between;

  @media (min-width: $desktops) {
    width: 23.5% !important;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  @media (max-width: $tablets-max) {
    width: 32% !important;
    margin-right: 2%;

    &:nth-of-type(3n) {
      margin-right: 0 !important;
    }
  }

  @media (max-width: $mobiles-max) {
    width: 49% !important;

    &:nth-of-type(3n) {
      margin-right: 2% !important;
    }
  }

  @media (max-width: 500px) {
    min-height: 315px;
    margin-bottom: 15px;
  }
}

.news__item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  max-height: 176px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;

  @media (max-width: 500px) {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    -webkit-line-clamp: 6;
    margin-bottom: 0;
  }
}

.news__item-info {
  padding: 23px 20px 20px 20px;
  background: #1a1725;

  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @media (max-width: 500px) {
    padding: 10px;
  }
}

.news__item-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;

  color: #df2183;
  margin-top: 22px;
  margin-bottom: 20px;

  @media (max-width: 500px) {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.news__item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: auto;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #b383ff;

  @media (max-width: 500px) {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    margin-top: auto;
  }
}

.news__item-picture {
  width: 100%;
  height: 176px;
  position: relative;

  @media (max-width: 500px) {
    height: 100px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.news__item-details {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  content: '';
  bottom: 0;
  left: 0;
  display: flex;
  background: rgba(26, 23, 37, 0.9);
  justify-content: space-between;

  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  text-overflow: ellipsis;
  height: 31px;

  @media (max-width: 500px) {
    height: 25px;
    padding: 0 6px;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #72669f;
    margin: 5px 0 0 0;

    &:first-of-type {
      margin-right: 10px;
    }

    @media (max-width: 500px) {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 150%;
      margin: 0;
    }
  }
}

.news__item-counter {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #72669f;

    @media (max-width: 500px) {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.news__item-counter-icon {
  width: 34px;
  height: 34px;
  margin-right: 20px;

  @media (max-width: 500px) {
    width: 24px;
    height: 24px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
