.sales__body {
  display: flex;

  @media (max-width: $tablets-max) {
    flex-direction: column;
  }
}

.sales__lists {
  width: 83%;
  margin-right: 2.5%;
  // width: 100%;

  @media (max-width: $tablets-max) {
    width: 100%;
    margin-right: 0;
    order: 2;
  }
}

// .sales__list {
//   &:not(:first-of-type) {
//     margin-top: 30px;

//     @media (max-width: $mobiles-max) {
//       margin-top: 15px;
//     }
//   }
// }

.sales__block {
  @media (min-width: $desktops) {
    margin-bottom: 30px;
  }
}

.sales__list {
  @media (max-width: $mobiles-max) {
    margin-bottom: 13px;
  }
}

.sales__items {
  display: flex;
  flex-direction: column;
}

.sales__item {
  background-color: #1a1725;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;

  @media (max-width: $mobiles-max) {
    margin-bottom: 15px;
    padding: 12px 12px 2px 10px;
  }

  &:first-of-type {
    margin-top: 34px;

    @media (max-width: $mobiles-max) {
      margin-top: 15px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sales__item-content {
  display: flex;

  @media (max-width: $mobiles-max) {
    flex-direction: column;
  }
}

.sales__block-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-align: left;

  color: #5a5471;
  margin-top: 30px;
  position: relative;
  margin-bottom: 0;

  @media (max-width: $mobiles-max) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 4px;

    text-align: left;
  }

  &:after {
    position: absolute;
    content: '';
    background-color: #5a5471;
    width: 80%;
    height: 1px;
    right: 0;
    top: 14px;

    @media (max-width: $tablets-max) {
      width: 75%;
    }

    @media (max-width: $mobiles-max) {
      width: 68%;
    }

    @media (max-width: 500px) {
      width: 55%;
    }
  }
}

.sales__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-transform: uppercase;

  color: #df2183;

  @media (max-width: $mobiles-max) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

.sales__social-links {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobiles-max) {
    width: 50%;
    margin-top: 8px;
  }

  @media (max-width: 500px) {
    width: 100%;
    margin-top: 8px;
  }
}

.sales__social-link {
  display: flex;
  align-items: center;
  margin-right: 30px;

  @media (max-width: $mobiles-max) {
    margin-right: 10px;

    text-align: right;
    white-space: nowrap;
  }

  @media (max-width: 500px) {
    margin-right: 0;
  }

  svg {
    fill: #5a5471;
    transition: $transition-settings;

    @media (max-width: $mobiles-max) {
      width: 14px;
    }
  }

  &:first-of-type {
    svg {
      @media (max-width: $mobiles-max) {
        width: 8px;
      }
    }
  }
  &:last-of-type {
    margin-right: 0;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    margin-left: 10px;
    transition: $transition-settings;

    color: #b383ff;

    @media (max-width: $mobiles-max) {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;

      text-decoration-line: underline;
    }
  }

  &:hover {
    span {
      color: #df2183;
    }

    svg {
      fill: #df2183;
    }
  }
}

.sales__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;

  @media (max-width: $mobiles-max) {
    align-items: baseline;
    flex-direction: column;
    margin-bottom: 22px;
  }

  &:after {
    position: absolute;
    content: '';
    background-color: #5a5471;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: -18px;

    @media (max-width: $mobiles-max) {
      bottom: -12px;
    }
  }
}

.sales__schedule-cell {
  margin-bottom: 10px;

  @media (max-width: $mobiles-max) {
    margin-bottom: 0;
    margin-right: 20px;

    &:first-of-type {
      width: 52%;
      margin-right: 4%;
    }

    &:last-of-type {
      width: 44%;
      margin-right: 0;
    }
  }
}

.sales__schedule-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #5a5471;
  margin: 0;

  @media (max-width: $mobiles-max) {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
  }
}

.sales__schedule-date {
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  @media (max-width: $mobiles-max) {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
  }
}

.sales__collection-images {
  display: flex;
  margin-top: 8px;
  flex-wrap: nowrap;
}

.sales__collection-image {
  height: 100px;
  width: 30%;
  margin-right: 5%;
  max-width: 100px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $mobiles-max) {
    height: 100px;
    width: 100px;
  }

  @media (max-width: 500px) {
    height: 70px;
    width: 70px;
    margin-right: 9%;
  }
}

.sales__collection-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  color: #ffffff;

  @media (max-width: $mobiles-max) {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
  }
}

.sales__item-info {
  width: 30%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobiles-max) {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 8px;
    &--schedule {
      flex-direction: row;
      margin-bottom: 12px;
      width: 60% !important;
    }

    &--prices {
      flex-direction: row;
      align-items: center;

      @media (max-width: $tablets-max) {
        width: 42%;
        margin-right: 3%;

        align-items: baseline;
      }

      @media (max-width: $mobiles-max) {
        flex-wrap: wrap;
      }

      @media (max-width: 500px) {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 500px) {
    &--schedule {
      width: 100% !important;
    }
  }

  &:nth-of-type(2) {
    width: 36%;
    margin-right: 3%;

    @media (max-width: $tablets-max) {
      width: 42%;
      margin-right: 3%;
    }
  }

  &:last-of-type {
    margin-right: 0;
    width: 29%;

    @media (max-width: $tablets-max) {
      width: 23%;
    }
  }
}

.sales__item-quantity {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
  padding: 3px 7px;
  background-color: #df2183;
  margin: 0 0 10px 0;

  color: $color-default-white;

  @media (max-width: $mobiles-max) {
    flex-grow: 1;
    text-align: center;

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    margin: 0 0 5px 0;
    max-width: 350px;
    &:not(:first-of-type) {
      margin-left: 2%;
    }

    &:nth-of-type(2n) {
      width: 49%;
    }

    &:first-of-type {
      width: 49%;
    }

    &:nth-of-type(3n) {
      margin-left: 0;
    }
  }
}

.sales__item-amount {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: $color-default-white;

  @media (max-width: $mobiles-max) {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
  }

  @media (max-width: 500px) {
    margin: 0 20px 0 0;
  }
}

.sales__block-wrapper {
  &--TBA {
    .sales__item {
      background: rgba(255, 255, 255, 0.02);
    }

    .sales__item-info {
      width: 49%;
      margin-right: 0;
      order: 2;

      &:last-of-type {
        margin-right: 2%;
        order: 1;
      }
    }

    @media (max-width: $mobiles-max) {
      .sales__item-content {
        display: flex;
        flex-direction: column;

        .sales__item-info--prices {
          order: 2;
        }
      }
    }
  }
}

.sales__item-quantity-wrapper {
  @media (max-width: $mobiles-max) {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}
