.sales__body {
  display: flex;
}

.sales__lists {
  width: 83%;
  margin-right: 2.5%;
}

.sales__list {
  &:not(:first-of-type) {
    margin-top: 30px;
  }
}

.sales__items {
  display: flex;
  flex-direction: column;
}

.sales__item {
  background-color: #1a1725;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;

  &:first-of-type {
    margin-top: 34px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sales__item-content {
  display: flex;
}

.sales__block-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-align: left;

  color: #5a5471;
  margin-top: 30px;
  position: relative;
  margin-bottom: 0;

  &:after {
    position: absolute;
    content: '';
    background-color: #5a5471;
    width: 85%;
    height: 1px;
    right: 0;
    top: 14px;
  }
}

.sales__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-transform: uppercase;

  color: #df2183;
}

.sales__social-links {
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.sales__social-link {
  display: flex;
  align-items: center;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    margin-left: 10px;
    transition: $transition-settings;

    color: #b383ff;
  }

  &:hover {
    span {
      color: #bab3d6;
    }
  }
}

.sales__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    background-color: #5a5471;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: -18px;
  }
}

.sales__schedule-cell {
  margin-bottom: 10px;
}

.sales__schedule-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #5a5471;
  margin: 0;
}

.sales__schedule-date {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.sales__collection-images {
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
}

.sales__collection-image {
  width: 100px;
  height: 100px;
  margin-right: 15px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.sales__collection-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  color: #ffffff;
}

.sales__title {
  margin-top: 80px;
  margin-bottom: 80px;
}

.sales__item-info {
  width: 30%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;

  &:nth-of-type(2) {
    width: 36%;
    margin-right: 3%;
  }

  &:last-of-type {
    margin-right: 0;
    width: 29%;
  }
}

.sales__item-quantity {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
  padding: 3px 7px;
  background-color: #df2183;
  margin: 0 0 10px 0;

  color: $color-default-white;
}

.sales__item-amount {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: $color-default-white;
}

.sales__block-wrapper {
  &--TBA {
    .sales__item {
      background: rgba(255, 255, 255, 0.02);
    }

    .sales__item-info {
      width: 49%;
      margin-right: 0;
      order: 2;

      &:last-of-type {
        margin-right: 2%;
        order: 1;
      }
    }
  }
}
