.sidebar {
  width: 14.5%;

  @media (max-width: $tablets-max) {
    width: 100%;
    margin-right: 0;
    order: 1;
    display: flex;
    flex-direction: row;
  }

  @media (max-width: $mobiles-max) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.sidebar__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;

  @media (max-width: $tablets-max) {
    text-align: left;
  }
}

.sidebar__token {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  @media (max-width: $tablets-max) {
    flex-direction: row;
  }

  @media (max-width: $mobiles-max) {
    margin-left: 15px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }

  &--bc {
    .sidebar__token-price {
      color: #ec9222;
    }
  }

  &--eth {
    .sidebar__token-price {
      color: #5f7be9;
    }
  }
}

.sidebar__token-img {
  width: 28px;
  height: 28px;
  margin-right: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sidebar__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #5a5471;
  padding-bottom: 20px;
  margin-bottom: 30px;

  @media (max-width: $tablets-max) {
    align-items: flex-start;
    width: 27%;
    margin-right: 2%;
    border-bottom: none;
  }

  @media (max-width: $mobiles-max) {
    width: 100%;
    flex-direction: row;
    padding-bottom: 0;
    align-items: center;
    margin-right: 0;
  }

  @media (max-width: 500px) {
    justify-content: space-between;
  }
}

.sidebar__token-price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}

.sidebar__ads {
  display: flex;
  flex-direction: column;
}

.sidebar__ad {
  width: 100%;
  margin-bottom: 30px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--big {
    height: 340px;

    @media (max-width: $tablets-max) {
      width: 42%;
      margin-right: 2%;
      height: 170px;
    }
  }

  &--small {
    height: 170px;
    @media (max-width: $tablets-max) {
      height: 170px;
      width: 27%;
    }
  }

  @media (max-width: $mobiles-max) {
    width: 49%;
    margin-right: 2%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
